<template>
<div>
    <div class="form-container">
      <LoginForm></LoginForm>
    </div>
</div>

</template>

<script>
import LoginForm from '../components/LoginForm';
export default {
    name: 'LoginPage',
    components: {
        LoginForm
}}
</script>

<style>
.form-container {
  background: url("../assets/background.jpg");
  width: 100vw;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin: 10vh 10vw;
    flex-direction: column;
}
</style>
