<template>
<div>
    <div class="form-container">
      <RegistrationForm></RegistrationForm>
    </div>
    <div class="main">
        <h2>Mission</h2>
        <p>You are really don't need own things to use it. 
            We all have too much items in our flats and most of them aren't used. 
            This platform allow you to lend, borrow and barter exchange things. 
            </p>
            <p>
                Activities like this allow us to reduce consumption and then save some resuorces of our Planet.
            </p>
    </div>
</div>
    
</template>

<script>
import RegistrationForm from '../components/RegistrationForm';
export default {
    name: 'MainPage',
    components: {
        RegistrationForm
}}
</script>

<style>
.form-container {
  background: url("../assets/background.jpg");
  width: 100vw;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin: 10vh 10vw;
    flex-direction: column;
}
</style>
