<template>
  <div class="col-sm-12 col-md-10 col-lg-6 col-xl-4 form">
      <h2>Add product</h2>
    <b-form >
      <b-form-group id="name-group" label="Product name:" label-for="name-input">
        <b-form-input id="name-input" type="text" required placeholder="Enter product name"></b-form-input>
      </b-form-group>
      <b-form-group id="location-group" label="Product location:" label-for="location-input">
        <b-input-group>
          <b-form-input id="location-input" placeholder="Enter the address…" v-model="addressField"></b-form-input>
          <b-input-group-append>
            <b-button variant="info" ref="locationButton" v-on:click="getLocation">Get my location</b-button>
          </b-input-group-append>
        </b-input-group>
        <input type="hidden" id="location" name="location">
        <l-map id="productLocation" ref="productLocation" :zoom="map.zoom" :center="map.coords">
          <l-tile-layer url="http://{s}.tile.osm.org/{z}/{x}/{y}.png" attribution="&copy; <a href='http://osm.org/copyright'>OpenStreetMap</a> contributors" />
          <l-marker :lat-lng="map.coords"></l-marker>
        </l-map>
      </b-form-group>
      <b-form-group id="description-group" label="Description:" label-for="description-input">
        <b-form-textarea id="description-input" placeholder="Please describe the product…" max-rows="20"></b-form-textarea>
      </b-form-group>
      <b-form-group id="type-group" label="Type:" label-for="type-input">
        <b-form-select id="type-input" v-model="productTypesSelected" :options="productTypes"></b-form-select>
      </b-form-group>
      <div class="row button-row">
        <b-button class="button" type="submit" variant="primary">Add product</b-button>
      </div>
    </b-form>
  </div>
</template>

<script>
import debounce from 'lodash.debounce';
import { latLng } from 'leaflet';
import { OpenStreetMapProvider } from 'leaflet-geosearch';

const geoSearch = new OpenStreetMapProvider();

export default {
    name: 'AddProductForm',
    data() {
        return {
            map: {
              zoom: 13,
              coords: latLng( 52.018, 19.137 )
            },
            addressField: '',
            productTypesSelected: null,
            productTypes: [
                { value: null, text: 'Please select a product type' },
                { value: 'transfer', text: 'Transfer' },
                { value: 'exchange', text: 'For exchange' },
                { value: 'lend', text: 'For lend' }
            ]
        }
    },
    watch: {
      async addressField( val ) {
        if ( val.length < 10 ) {
          return;
        }

       this.performGeoSearch( val );
      }
    },
    methods: {
      performGeoSearch: debounce( async function( val ) {
        const [ { x, y } ] = await geoSearch.search( { query: val } );

        this.map.coords = latLng( y, x );
      }, 250 ),
      getLocation() {
        if ( !navigator.geolocation ) {
          this.$refs.locationButton.disabled = true;
          return;
        }
        navigator.geolocation.getCurrentPosition( ( { coords: { latitude, longitude }} ) => {
          this.map.coords = latLng( latitude, longitude );
        }, () => {
          this.$refs.locationButton.disabled = true;
        });
      }
    }
};
</script>

<style scoped>
#productLocation {
  margin: 1em 0;
  height: 180px;
}
.form{
    background: whitesmoke;
    padding: 3vh 3vw;
    box-sizing: border-box;
    margin: 3em;
}
.button-row {
  display: flex;
  justify-content: space-evenly;
}
</style>
