<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="dark">
      <b-navbar-brand to="/">Reuse It</b-navbar-brand>

      <b-navbar-nav>
          <b-nav-item to="/products">Search products</b-nav-item>
          <b-nav-item to="/addproduct">Add product</b-nav-item>
          <b-nav-item to="/profile">Profile</b-nav-item>
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>

<script>
export default {
  name: "Header",
  props: {
    msg: String
  }
};
</script>

<style scoped>
</style>