<template>
  <div class="col-sm-12 col-md-10 col-lg-6 col-xl-4 form">
      <h2>Registration</h2>
    <b-form >
      <b-form-group id="email-group" label="Email address:" label-for="email-input">
        <b-form-input id="email-input" type="email" required placeholder="Enter email"></b-form-input>
      </b-form-group>
      <b-form-group id="username-group" label="Username:" label-for="username-input">
        <b-form-input id="username-input" type="text" required placeholder="Enter username"></b-form-input>
      </b-form-group>
      <b-form-group id="password-group" label="Password:" label-for="password-input">
        <b-form-input id="password-input" type="password" required placeholder="Enter password"></b-form-input>
      </b-form-group>
      <div class="row button-row">
        <b-button class="button" type="submit" variant="primary">Register</b-button>
        <b-button href="#/login" class="button" variant="secondary">I have an account</b-button>
      </div>
    </b-form>
  </div>
</template>

<script>
export default {
    name: 'RegistrationForm'
};
</script>

<style scoped>
.form{
    background: whitesmoke;
    padding: 3vh 3vw;
    box-sizing: border-box;
    margin: 3em;
}
.button-row {
  display: flex;
  justify-content: space-evenly;
}
</style>
